{% extends "layout.html" %}

{% block pageTitle %}
  Improvements page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home </a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>

      <p class="gem-c-lead-paragraph">The Unit for Future Skills aims to improve the quality and availability of data on skills and jobs.</p>

      <ol>
        <li><a href="#">Role</a></li>
        <li><a href="#">Data</a></li>
        <li><a href="#">Research</a></li>
        <li><a href="#">Priorities for 2022</a></li>
        <li><a href="#">Contact</a></li>
      </ol>

      <p>The Unit for Future Skills is an analytical and research unit within the Department for Education. It has been set up to improve the quality of jobs and skills data, working across government to make this available and more accessible to policy makers, stakeholders and the general public.</p>

      <p>This data and research will support a better understanding of current skill mismatches and future demand throughout the country. It will help our skills system respond effectively to deliver good jobs and higher productivity.</p>
      
      <section class="" id="role" style="border-top:5px solid #003a69; margin:30px 0;">
        <h2 id="role">Role</h2>

        <p>Working closely with analysts and data experts across government departments, together with a wide range of external stakeholders, the unit will:​</p>

        <ul>
          <li>build up the data infrastructure to create new links between datasets to identify how skills are used in the economy</li>
          <li>conduct analysis and present data in new ways to address data gaps and improve our evidence-base</li>
          <li>become a centre of expertise on future skills, developing robust methodology and insights on current and future skills needs</li>
        </ul>

        <p>The Unit for Future Skills builds on the analysis and research of the <a href="https://www.gov.uk/government/groups/skills-and-productivity-board" class="govuk-link">Skills and Productivity Board</a>.</p>
      </section>
      
      <section class="" id="data" style="border-top:5px solid #003a69; margin:30px 0;">
        <h2 id="data">Data</h2>

        <p>The unit has supported the development of new data on the type of employment people undertake after training. You can access the data through our dashboards.</p>

        <h3 id="skills-and-jobs-dashboards">Skills and jobs dashboards</h3>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            <div class="">
              <div class="">
                <div class="">
                  <img class="gem-c-image-card__image" style="width:100%;" alt="Department for Education logo- holding" src="https://p.kindpng.com/picc/s/175-1756327_educational-vector-future-department-for-education-logo-vector.png"/>
                  <h3 class="">
                    <a class="" href="#">Career pathways dashboard</a>
                  </h3>  
                  <p>Showing the routes young people take through education and into employment in different industry sectors across regions of England.</p>         
                </div>
              </div>
            </div>
          </div>
          <div class="govuk-grid-column-one-half">
            <div class="">
              <div class="">
                <div class="">
                  <img class="gem-c-image-card__image" style="width:100%;" alt="Department for Education logo- holding" src="https://p.kindpng.com/picc/s/175-1756327_educational-vector-future-department-for-education-logo-vector.png"/>
                  <h3 class="">
                    <a class="" href="#">Graduate outcomes dashboard</a>
                  </h3>  
                  <p>Showing the employment and earnings outcomes of higher education graduates by subject studied and graduate characteristics, including new data on the industry sector of employment. Graduate outcomes by provider are also available through existing <a rel="external" href="https://explore-education-statistics.service.gov.uk/find-statistics/graduate-outcomes-leo-provider-level-data/2018-19" class="govuk-link">graduate outcomes statistics</a>.</p>         
                </div>
              </div>
            </div>
          </div>
          <div class="govuk-grid-column-one-half">
            <div class="">
              <div class="">
                <div class="">
                  <img class="gem-c-image-card__image" style="width:100%;" alt="Department for Education logo- holding" src="https://p.kindpng.com/picc/s/175-1756327_educational-vector-future-department-for-education-logo-vector.png"/>
                  <h3 class="">
                    <a class="" href="#">Further education outcomes dashboard</a>
                  </h3>       
                  <p>Showing qualification level, employment and earnings outcomes data for apprenticeships and adult further education.</p>    
                </div>
              </div>
            </div>
          </div>
          <div class="govuk-grid-column-one-half">
            <div class="">
              <div class="">
                <div class="">
                  <img class="gem-c-image-card__image" style="width:100%;" alt="Department for Education logo- holding" src="https://p.kindpng.com/picc/s/175-1756327_educational-vector-future-department-for-education-logo-vector.png"/>
                  <h3 class="">
                    <a class="" href="#">16 to 18 qualifications dashboard</a>
                  </h3> 
                  <p>Showing detailed qualification level, employment and learning outcomes for 16 to 18 year olds finishing study at further education institutions.</p>       
                </div>
              </div>
            </div>
          </div>
        </div>
        <p>Send us feedback on this data through the feedback forms on each dashboard or email <a href="mailto:ufs.contact@education.gov.uk" class="govuk-link">ufs.contact@education.gov.uk</a>.</p>
      </section>
      
      <section class="" id="research" style="border-top:5px solid #003a69; margin:30px 0;">
        <h2 id="research">Research</h2>

        <p>The unit’s research programme aims to strengthen the evidence base on skills and skills matching in the economy. It will:</p>

        <ul>
          <li>maximise the impact of existing research and insights by building a research network that includes:
            <ul>
              <li>government departments</li>
              <li>think-tanks</li>
              <li>charities</li>
              <li>academic institutions</li>
            </ul>
          </li>
          <li>conduct its own programme of research to fill evidence gaps</li>
        </ul>

        <h3 id="latest-research-projects">Latest research projects</h3>

        <p><a href="https://www.gov.uk/government/publications/labour-market-and-skills-demand-horizon-scanning-and-scenarios" class="govuk-link">Labour market and skills demand horizon scanning and future scenarios</a> - this research report scans the horizon of the labour market over the next 15 to 20 years to identify emerging trends.</p>
      </section>

      <section class="" id="priorities" style="border-top:5px solid #003a69; margin:30px 0;">
        <h2 id="priorities-for-2022">Priorities for 2022</h2>

        <p>The unit is developing a longer-term workplan to improve data and identify insights on skills and jobs through existing and new research. Core to this will be continuing to work with other government departments to bring together different datasets and make these widely available, including through <abbr title="application programming interfaces">APIs</abbr> (application programming interfaces).</p>

        <p>Priorities for 2022 include:</p>

        <ul>
          <li>an improved careers pathways dashboard, providing more detail on which qualifications support employment within a local area</li>
          <li>a skills demand dashboard showing what types of jobs are being advertised within a locality</li>
          <li>conducting research projects on future skills demand forecasting and a UK specific skills taxonomy</li>
          <li>gathering feedback from users to help shape the Unit’s products and longer-term priorities</li>
        </ul>
      </section>

      <section class="" id="contact" style="border-top:5px solid #003a69; margin:30px 0;">
        <h2 id="contact">Contact</h2>

        <p>If you are interested in the work of the Unit for Future Skills and would like to get in touch, email <a href="mailto:ufs.contact@education.gov.uk" class="govuk-link">ufs.contact@education.gov.uk</a>.</p>
      </section>
    </div>
  </div>
{% endblock %}
